a:visited {
	color:#fff;
}

p {
	text-indent: 50px;
}

.selected {
	color:#7733aa;
}

body {
	color:#ffffff;
	background-color:#224466;
}

.section {
	background-color:#111122;
	margin: 10px 10px 10px 10px;
	padding: 10px 30px 10px 30px;
	text-align: center;
	box-shadow: 4px 4px 2px #060611;
	font-size: 20px;
	overflow: auto;
}

.section_title {
	text-align: center;
}

.subsection {
  display: flex;
	flex-direction: row;
	flex-wrap:nowrap;
	justify-content: space-between;

}

.showcase_description {
	text-align: left;
	flex-grow: 2;
	width: 0%;
}

.showcase_description h3 {
	text-align: center;
}

.showcase_feature {
	border: 3px solid #EEEEEE;
	flex-grow: 1;
	width: 0%;
}
